

#content 
{
	clear: left;
	float: left;
  margin-left:12%;
  margin-right:12%;
}

body {
	display: block;
}
#header{
	display: none;
}

address{
	
	text-align: center;
	font-size: 1.5em;
	color: white;
}
footer{
	background-color: rgb(220, 0, 0);
	width: 100%;
	clear: left;
	float: left;
	padding-top: 1px;
	padding-bottom: 1px;
	position: bottom;
	
}

